
#main{
display:flex;
justify-content:center;
border:2px solid black;
}
p{
margin-bottom:10px;
}
h1{
text-align:center;
height:50px;
background-color:yellow;
}
b{
color:red;
margin-bottom:20px;

}
#group{
justify-content:center;
padding-left:20px;
}
button{
border-radius:50px;
background-color:green;
color:white;
padding:8px;

}
a{
text-decoration:none;
}
.btn{
text-align:center;
}


